.MB-DataTable-header {
    background-color: #fff;
}

.MB-DataTable-header:hover {
    cursor: pointer;
}

.MB-DataTable-header       .SortIndicator { opacity: 0; }
.MB-DataTable-header:hover .SortIndicator { opacity: 1; }

/* if the column is the one that is being sorted*/
.MB-DataTable-header--sorted {
     color: var(--brand-color);
}

.Visualization .public_fixedDataTableCell_main {
    border: 1px solid transparent;
    font-size: 0.8rem;
    position: relative;
}

.Visualization .public_fixedDataTableCell_main:hover {
    cursor: pointer;
    background-color: #f4f4f4 !important;
}

.Visualization .public_fixedDataTableRow_highlighted,
.Visualization .public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
    background-color: #fff;
}

.Visualization .public_fixedDataTable_header,
.Visualization .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-color: #fff;
    background-image: none;
}

.Visualization .public_fixedDataTable_header,
.Visualization .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-color: #fff;
    overflow: auto !important;
}

.Visualization .public_fixedDataTable_header .public_fixedDataTableCell_main:hover {
    border-color: #e8e8e8;
}

.Visualization .public_fixedDataTableRow_main {
    border-bottom: 1px solid #f4f4f4;
}

.BreakoutTrigger {
    position: absolute;
    top: -16px;
    right: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border: 2px solid var(--brand-color);
    background-color: #fff;
    display: inline-block;
    z-index: 1000;
    margin: 0 auto;
    border-radius: 99px;
}
